<div class="container mb-5 mt-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">             
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">

                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <!-- 
                                
                                ngModel: captura a interação do usuário e adiciona a uma variável (ex.: 'true' ou 'false')
                            Leia-se: "o que o usuário digitar no input, coloque dentro da variável user.nome"

                            -->
                            <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                        </div>

                        <div class="form-group">
                            <label for="usuario">Usuário</label>
                            <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                        </div>

                        <div class="form-group">
                            <label for="foto">Link da foto</label>
                            <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link de sua foto">
                        </div>

                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                        </div>

                        <div class="form-group">
                            <label for="confirmSenha">Confirmar senha</label>
                            <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha" placeholder="Confirme sua senha">
                        </div>

                        <div class="form-group">
                            <label for="tipo">Tipo de Usuário</label>
                            <select (change)='tipoUser($event)' class="form-control" name="tipo" id="tipo">
                                <option>Selecione um tipo de usuário:</option>
                                <option value="normal">Normal</option>
                                <option value="admin">Administrador</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-danger mr-4" routerLink="/inicio">Cancelar</button>
                            <button (click)='atualizar()' type="submit" class="btn btn-success">Atualizar</button>
                        </div>

                    </div>
                </div>
            </h1>
        </div>
    </div>

</div>